.load-more {
  font-size: 30rpx;
  height: 80rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.load-more .t-class-loading {
  display: flex;
  font-size: inherit;
  justify-content: center;
  --td-loading-color: #fa4126;
}

.load-more .t-class-loading-text {
  font-size: inherit;
  color: #8b8686;
}

.t-class-divider-content {
  margin: 0 10rpx;
  font-size: inherit;
  color: #8b8686;
}
.load-more .t-class-indicator {
  color: #8b8686 !important;
}

.load-more__error {
  margin: auto;
}

.load-more__refresh-btn {
  margin-left: 16rpx;
  color: #fa4126;
}
