/* pages/index/region.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0rpx 30rpx 50rpx 30rpx;
}

.scrollarea {
  height: 85vh;
  overflow-y: hidden;
}

.label {
  width: 100%;
  justify-content: start;
  border-bottom: 1px solid #ccc;
}
.location {
  display: flex; 
  width: 100%;
  justify-content: space-between;
}
.location .left {
  display: flex; 
  align-items: flex-start;
}
.location .right {
  float: right; 
  align-items: flex-end;
  justify-content: end; 
  text-align: right; 
  font-weight: bold;
}

.region {
  display: flex;
  width: 100%;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
}
.region .colmun {
  width: 33.333%; /* 三列平分宽度 */
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 50rpx;
}